global:
  # -- namespace or a project name (in case of OpenShift)
  edpName: ""
  # -- platform type that can be "kubernetes" or "openshift"
  platform: "openshift"
  # -- a cluster DNS wildcard name
  dnsWildCard:
  # -- Administrators of your tenant
  admins:
    - "stub_user_one@example.com"
  # -- Developers of your tenant
  developers:
    - "stub_user_one@example.com"
    - "stub_user_two@example.com"
  openshift:
    # -- Which type of kind will be deployed to Openshift (values: deployments/deploymentConfigs)
    deploymentType: "deployments"

# -- component name
name: gerrit-operator
annotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
image:
  # -- EDP gerrit-operator Docker image name. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/gerrit-operator)
  repository: epamedp/gerrit-operator
  # -- if not defined then .Chart.AppVersion is used
  # -- EDP gerrit-operator Docker image tag. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/gerrit-operator/tags)
  tag:
imagePullPolicy: "IfNotPresent"

# --  Define interval for synchronizing Gerrit Projects with GerritProject CustomResources
# --  Default: 5 minutes
# --  Format: golang time.Duration-formatted string
projectSyncInterval: 1h

resources:
  limits:
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi

gerrit:
  # --  Flag to enable/disable Gerrit deploy
  deploy: true
  # --  Gerrit name
  name: "gerrit"
  # -- Define gerrit docker image name
  image: "epamedp/edp-gerrit"
  # -- Define gerrit docker image tag
  version: "3.6.1-SNAPSHOT.4"
  # -- If defined, a imagePullPolicy applied for gerrit deployment
  imagePullPolicy: "IfNotPresent"
  # --  Secrets to pull from private Docker registry;
  imagePullSecrets:
  # -- SSH port
  sshPort: "30022"
  # -- HTTP port
  port: "8080"
  storage:
    # --  Size for Gerrit data volume
    size: 1Gi
    # --  Storageclass for Gerrit data volume
    class: gp2
  # --  Base path for Nexus URL
  basePath: ""
  annotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  ingress:
    annotations: {}
    # --  pathType is only for k8s >= 1.1=
    pathType: Prefix
    # --  For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
    # --  See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
    # ingressClassName: nginx
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  resources:
    limits:
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 512Mi

gitServer:
  # -- GitServer CR name
  name: "gerrit"
  # -- Git user to connect
  user: "edp-ci"
  # -- HTTPS port
  httpsPort: 443
  # -- Name of secret with credentials to Git server
  nameSshKeySecret: "gerrit-ciuser-sshkey"
