---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: gerrits.v2.edp.epam.com
spec:
  group: v2.edp.epam.com
  names:
    kind: Gerrit
    listKind: GerritList
    plural: gerrits
    singular: gerrit
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Gerrit is the Schema for the gerrits API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GerritSpec defines the desired state of Gerrit.
            properties:
              basePath:
                description: BasePath gerrit http route base path.
                type: string
              keycloakSpec:
                properties:
                  enabled:
                    type: boolean
                  realm:
                    type: string
                  url:
                    type: string
                required:
                - enabled
                type: object
              restAPIUrl:
                description: RestAPIUrl gerrit http full api url.
                type: string
              sshPort:
                format: int32
                type: integer
              sshUrl:
                description: SSHUrl gerrit ssh url.
                type: string
            required:
            - keycloakSpec
            type: object
          status:
            description: GerritStatus defines the observed state of Gerrit.
            properties:
              available:
                type: boolean
              externalUrl:
                type: string
              lastTimeUpdated:
                format: date-time
                type: string
              status:
                type: string
            required:
            - externalUrl
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  - deprecated: true
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Gerrit is the Schema for the gerrits API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              basePath:
                type: string
              image:
                type: string
              imagePullSecrets:
                items:
                  description: LocalObjectReference contains enough information to
                    let you locate the referenced object inside the same namespace.
                  properties:
                    name:
                      description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?'
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                nullable: true
                type: array
              keycloakSpec:
                properties:
                  enabled:
                    type: boolean
                  realm:
                    type: string
                  url:
                    type: string
                required:
                - enabled
                type: object
              sshPort:
                format: int32
                type: integer
              type:
                type: string
              version:
                type: string
              volumes:
                items:
                  description: GerritSpec defines the desired state of Gerrit.
                  properties:
                    capacity:
                      type: string
                    name:
                      type: string
                    storage_class:
                      type: string
                  required:
                  - capacity
                  - name
                  type: object
                nullable: true
                type: array
            required:
            - image
            - keycloakSpec
            - type
            - version
            type: object
          status:
            description: GerritStatus defines the observed state of Gerrit.
            properties:
              available:
                type: boolean
              externalUrl:
                type: string
              lastTimeUpdated:
                format: date-time
                type: string
              status:
                type: string
            required:
            - externalUrl
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
